.Day {
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
  }

  border: 1px solid black;
  width: $daywidth;
  height: $dayheight;
  box-sizing: border-box;

  .day-number {
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 0 5px;
    height: $daynumberheight;
    box-sizing: border-box;
  }

  .day-info {
    width: 100%;
    height: $dayheight - $daynumberheight - 2;
    overflow: hidden;
    box-sizing: border-box;
  }

  &.disabled-day {
    background-color: $disableddaycolor;
  }

  &.invalid-day {
    background-color: $invaliddaycolor !important;
  }

  .appointment-description {
    font-size: 14px;
    font-weight: bold;
  }

  .appointment-time {
    font-size: 12px;
  }

  @media (max-width: $screen-breakpoint) {
    &.invalid-day {
      display: none;
    }

    width: $breakpoint-width;
  }
}