.Day {
  border: 1px solid black;
  width: $daywidth;
  height: 70px;
  box-sizing: border-box;

  .day-number {
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 0 5px;
    height: 20px;
  }

  .day-info {
    width: 100%;
    height: 50px;
  }

  &.disabled-day {
    background-color: $tempcolor;
  }
}