.Day {
  border: 1px solid black;
  width: $daywidth;
  height: $dayheight;
  box-sizing: border-box;

  .day-number {
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 0 5px;
    height: $daynumberheight;
  }

  .day-info {
    width: 100%;
    height: $dayheight - $daynumberheight;
    padding: 2px;
    overflow: hidden;
    box-sizing: border-box;
  }

  &.disabled-day {
    background-color: $disableddaycolor;
  }

  &.invalid-day {
    background-color: $invaliddaycolor !important;
  }

  .appointment-description {
    font-size: 14px;
    font-weight: bold;
  }

  .appointment-time {
    font-size: 12px;
  }
}