.MonthHeader {
  width: $daywidth * 7;

  font-size: 25px;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  border: 1px black solid;
  box-sizing: border-box;

  @media (max-width: $screen-breakpoint) {
    width: $breakpoint-width;
  }
}